
.subscriptionList {
	ul {
		list-style: none;
		padding: 0;
	}
	li {
		padding: 10px;
		border-bottom: 1px solid #eee;
		display: flex;
		justify-content: space-between;
		&:last-child {
			border-bottom: none;
		}
	}
}
