@import '../../variable.scss';

.toggleButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: $lightBlueBg;
  color: $white;
  font-size: 16px;
  transition: background-color 0.3s;
  &:hover {
    background-color: $darkBlueBg;
  }
}
