
// .notificationPanel {
// 	background-color: $white;
// 	padding: 20px;
// 	border-radius: 8px;
// 	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
// 	transition: transform 0.3s;
// 	&:hover {
// 		transform: translateY(-2px);
// 	}
// 	h2 {
// 		margin-bottom: 15px;
// 	}
// 	ul {
// 		list-style: none;
// 		padding: 0;
// 	}
// 	li {
// 		padding: 10px;
// 		border-bottom: 1px solid #eee;
// 		&:last-child {
// 			border-bottom: none;
// 		}
// 	}
// }
