@import "../../variable.scss";

.notificationBell {
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin-right: 10px;

	.bellIcon {
		font-size: 24px;
		transition: color 0.3s;
		&:hover {
			color: $lightBlueBg;
		}
	}

	.dropdown {
		position: absolute;
		right: 0;
		top: 30px;
		background-color: $white;
		border-radius: 8px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		padding: 10px;
		z-index: 1000;
		width: 200px;
		h2 {
			margin: 0 0 10px;
			font-size: 16px;
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}
		li {
			padding: 8px;
			border-bottom: 1px solid $lightestGray;
			transition: background-color 0.2s;
			&:hover {
				background-color: $lightWhite;
			}
			&:last-child {
				border-bottom: none;
			}
		}
	}
}


