.home {
  display: flex;

  .homeContainer {
    flex: 1;
    padding: 48px;
    transition: margin-left 0.5s;
    position: relative;
    background-color: #f8f8fa;
    @media only screen and (max-width: 600px) {
      padding: 15px;
    }

    .openbtn {
      display: none;

      @media only screen and (max-width: 600px) {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        border: none;
        width: 100%;
      }
    }

    .widget {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;
    }
  }

  @media only screen and (max-width: 600px) {
    &.hide {
      .sidebar {
        width: 0;
        padding: 0;
      }

      .homeContainer {
        margin-left: 0;
      }
    }

    &.show {
      .sidebar {
        width: 250px;
        padding: 27px 24px;
      }

      .homeContainer {
        margin-left: 250px;
      }
    }
  }
}
