.navbar {
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 29px;

  @media only screen and (max-width: 600px) {
    padding: 30px 0;
    margin-bottom: 0;
  }
  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-size: 24px;
      color: rgba(24, 24, 25, 0.9);
      margin-bottom: 0px;

      @media only screen and (max-width: 600px) {
        font-size: 14px;
      }
    }
  }
}
