@import "../../variable.scss";

.sidebar {
  padding: 27px 24px;
  min-height: 100%;

  @media only screen and (max-width: 600px) {
    width: 0;
    padding: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }

  .top {
    .logo {
      img {
        width: 199px;
        height: auto;
      }
    }

    a {
      font-size: 36px;
      font-weight: 500;
      color: white;
    }
  }

  .center {
    padding: 24px 0;

    .account {
      &-info {
        padding: 19px 16px;
        border-radius: 8px;
        margin-bottom: 34px;

        &__item {
          margin-right: 36px;
        }

        .circle {
          width: 32px;
          height: 32px;
          background: #ecd348;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 12px;
        }
      }

      &-name {
        font-size: 14px;
        color: white;
        line-height: 1.4;
      }
      &-team {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.42);
        line-height: 1.4;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        margin-bottom: 24px;
        padding: 5px;
        &:hover {
          border-radius: 4px;
          // padding: 8px;
        }

        span {
          font-size: 14px;
          font-weight: 400;
          line-height: 1.4;
          color: rgba(255, 255, 255, 0.7);
          margin-left: 14px;
        }

        &.active {
          > span {
            color: white;
          }
        }

        .badge {
          &-pill {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background: #ffa000;
            position: absolute;
            right: 0;
            color: white;
            line-height: 1.4;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  .closebtn {
    display: none;
    @media only screen and (max-width: 600px) {
      display: block;
      color: white;
      font-size: 24px;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }
}
