@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@import "./variable.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: $white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

html,
body,
#root,
.App,
.home {
  height: 100%;
}

hr {
  height: 0;
  border: 0.5px solid $light-grey;
  opacity: 0.2;
  margin: 0;
}

.card {
  background: $white;
  border: 1px solid $light-grey;
  border-radius: 8px;
  padding: 20px;
  max-width: 349px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  width: 100%;
  transition: transform 0.3s;
  &:hover {
    transform: translateY(-2px);
  }

  h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
  }
  p {
    margin: 5px 0;
  }

  @media only screen and (max-width: 600px) {
    max-width: none;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  li {
    &:hover {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 600px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}
